
/* Facilitate busy pointer. */
* {
	cursor: inherit !important;
}
.progress {
	cursor: progress !important;
}

.diff-button {
	margin: 2px;
}

/* Added radio buttons' container. */
.diff-sel {
	text-align: center;
	width: 65px;
}

#file-preview-modal .header .close {
	padding: 8px !important;
}


/* Dropbox overrides. */
#file-preview-modal .content-item {
	text-align: left;
}
#file-preview-modal #indiff-view {
	background-color: white;
	color: black;
	margin: auto;
	overflow-y: scroll;
	width: 100%;
	/* height must be calculated dynamically. */
}


/* jsdifflib overrides. */
table.diff {
	width: 100%;
}

/* Use Dropbox's fonts. */
table.diff tbody { 
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
table.diff thead,
table.diff tbody th {
	font-family: "Open Sans", "Lucida Grande", "Segoe UI", Arial, Verdana, "Lucida Sans Unicode", Tahoma, sans-serif;
}

/* Adjust vertical alignment of lines slightly. */
table.diff tbody td {
	padding: .2em;
}
