
#clouddiff-dialog {
	/* Show over .upload-container. */
	z-index: 1900;
}

/* Hide all controls by default. */
html .clouddiff-buttons,
html .clouddiff-th,
html .clouddiff-selectors
{
	display: none;
}

/* Show controls in a page-revisions page. */
html.page-revisions .clouddiff-buttons {
	display: flex;
}
html.page-revisions .clouddiff-th,
html.page-revisions .clouddiff-selectors {
	display: block;
}

.clouddiff-buttons {
	display: flex;
}
.clouddiff-button {
	color: #2a2a2b;
	font-size: 14px;
	font-weight: 700;
	padding: 4px 10px;
}

/* For the injected radio buttons' header, container. */
.listGridWindow .clouddiff-th {
	font-size: var(--small-font-size);
	line-height: 16px;
	text-align: center;
	width: 80px;
}
.clouddiff-selectors {
	padding-left: 0;
	text-align: center;
	width: 80px;
}
/* Enlarge click area for left/right radio buttons. */
.clouddiff-selectors label {
	padding: 15px 5px;
}


/* Platform-specific tweaks. */

body.clouddiff-Win32 .clouddiff-selectors {
	width: 84px;
}

