
/* Facilitate busy pointer. */
* {
	cursor: inherit !important;
}
.progress {
	cursor: progress !important;
}

/* Disable diff buttons' hover effect when grayed. */
.diff_button:hover.grayed {
	background: -webkit-gradient(linear, left top, left bottom, from(#fffffe), to(#f4faff));
}
#exdiff_button {
	margin-right: 521px;
}

/* Differentiate added rows. */
.tr-added {
	background-color: #eee;
}


/* Dropbox overrides. */
#file-preview-modal .content-item {
	text-align: left;
}
#file-preview-modal #indiff-view {
	background-color: white;
	color: black;
	margin: auto;
	overflow-y: scroll;
	width: 100%;
	/* height must be calculated dynamically. */
}


/* jsdifflib overrides. */
table.diff {
	width: 100%;
}

/* Use Dropbox's fonts. */
table.diff tbody { 
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
table.diff thead,
table.diff tbody th {
	font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}

/* Adjust vertical alignment of lines slightly. */
table.diff tbody td {
	padding: .2em;
}
